.App {
  .ant-layout-header {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;

    .App-Brand {
      color: #fff;
      font-size: 1.2rem;
      float: left;
      margin-right: 30px;
    }
  }

  .ant-menu {
    .ant-menu-item {
      font-size: 1rem;

      .anticon {
        font-size: 18px;
        margin-right: 8px;
      }
    }

    .upload-button {
      float: right;
      margin-top: 9px;
    }
  }

  main.ant-layout-content {
    padding: 10px 10px 0;

    .site-layout-content {
      background: #fff;
      border-radius: 4px;
      padding: 15px;

      h1 {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0.7em;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDD;
      }
    }
  }
}
