.time-attendance-table {
  .table-title {
    .table-title-left {

    }

    .ant-picker {
      background-color: #FFD;
      width: 200px;

      .ant-picker-suffix {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .table-title-right {
      padding-right: 7px;
      text-align: right;
    }

    .title-month {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 10px;
    }

    .title-date {
      color: #666;

      .day {}
    }

    .title-datasource {
      .datasource-file {
        a.filename:link, a.filename:visited, a.filename:active {
          color: #333;
          text-decoration: underline;
        }

        a.filename:link, a.filename:visited, a.filename:active {

        }
      }

      .datasource-uploaded {
        color: #666;
      }
    }
  }

  .ant-table-thead .ant-table-cell {
    text-align: center;
  }

  .employee-title {

  }

  .employee-subtitle {
    color: #777;
    font-size: 0.85rem;

    .value {
      color: #555;
    }

    .divider {
      color: #BBB;
      margin: 0 5px;
    }
  }
}
